/* ALGOLIA SEARCH https://www.algolia.com/doc/tools/crawler/netlify-plugin/front-end/ */


.aa-DetachedSearchButton:before {
  content: "🔍"
}

.aa-DetachedSearchButton {
  border: none !important;
  color: #000 !important;
  align-items: start !important;
  line-height: var(--ratio) !important;
  font-size: var(--s0) !important;
  background-color: var(--color-light) !important;
}

.aa-DetachedSearchButtonPlaceholder {
  display: none !important;
}

.aa-DetachedSearchButtonIcon {
  display: none !important;
}

/* BRAND STICKER */

.sticker {
  text-transform: uppercase;
  font-size: 1.09rem;
  color: #0D0D0D;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}

.sticker {
  width: 115px;
  height: 115px;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translate3d(-1rem, -2rem, 0);
}

.sticker img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 2;
  width: 60%;
}

.sticker svg {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.sticker svg {
  border: 2px solid black;
  border-radius: 50%;
  background-color: white
}

.sticker svg {
  -webkit-animation: rotateOnZ 20s infinite linear;
          animation: rotateOnZ 20s infinite linear;
}

@-webkit-keyframes rotateOnZ {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotateOnZ {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@media (min-width: 767px)
{
  .sticker {
      width: 150px;
  height: 150px;
  }
}


/* RECIPE LIST */

.recipe-list {
    padding: 0px;
    --min: 275px;
    --gap: 1rem;
    display: grid;
    grid-gap: 2rem 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
}

.recipe-tagline {
  display: none;
}

.recipe-card {
  --img-ratio: 3/2;
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 30px;
  background-color: #fffef6;
  box-shadow: 0 8px 0 0 var(--color-dark);
  background-color: var(--color-light);
  height: 100%;
  position: relative;
}

.recipe-card > img {
    /* Fallback for `aspect-ratio` of defining
  a height */
  height: max(18vh, 12rem);
  object-fit: cover;
  width: 100%;
}

/* When supported, use `aspect-ratio` */
@supports (aspect-ratio: 1) {
  .recipe-card > img {
    aspect-ratio: var(--img-ratio);
    height: auto;
  }
}

.recipe-card > img:first-child {
  border-radius: 28px 28px 0 0;
}

.recipe-card:hover {
  transform: translateY(0.5rem);
  transition: transform 350ms cubic-bezier(0, 0.26, 0.13, 1.55), box-shadow 0.2s;
  box-shadow: 0 0 0 0 var(--color-dark);
}

.recipe-info {
  padding: var(--s-1) var(--s0) var(--s1) var(--s0);
  --flow-space: var(--s-4);
  overflow-wrap: break-word;
}

.card-button::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: 0 0;
    cursor: pointer;
}

/* ARROWS MARQUEE */

.arrows-marquee {
  //max-width: 100px;
}

svg.arrows-marquee path {
  fill: var(--color-dark);
}

.arrows-marquee .arrows {
          animation: point 2.5s infinite linear;
}

@keyframes point {
  from {
    opacity: 1;
  }
  25% {
    opacity: .5;
  }
 50% {
    opacity: 0.1;
  }
 75% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.arrows-marquee .arrows-1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.arrows-marquee .arrows-2 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.arrows-marquee .arrows-3 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.arrows-marquee .arrows-4 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.arrows-marquee .arrows-5 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.arrows-marquee .arrows-6 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.arrows-marquee .arrows-7 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.arrows-marquee .arrows-8 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.arrows-marquee .arrows-9 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.arrows-marquee .arrows-10 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.arrows-marquee .arrows-11 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.arrows-marquee .arrows-12 {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.arrows-marquee .arrows-13 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.arrows-marquee .arrows-14 {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
.arrows-marquee .arrows-15 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.arrows-marquee .arrows-16 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.arrows-marquee .arrows-17 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.arrows-marquee .arrows-18 {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}
