@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Gulfs Display SemiExpanded';
  src: url('/static/font/20220524-204821.woff2') format('woff2'), url('/static/font/20220524-204821.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
