/* GLOBAL HOME */

section.home-welcome, section.home-categories, section.recipe-browse {
      padding: var(--space-xl-2xl) 0;
}

/* WELCOME */

.home-welcome {
  border-color: var(--color-dark);
  border-style: solid;
  border-width: 0 0 2px 0;
  background: var(--color-yellow);
}

.welcome-text h1 {
  font-size: clamp(3.38rem, calc(-0.47rem + 19.24vw), 8.75rem);
  text-transform: uppercase;
  line-height: 0.95;
}

.welcome-grid {
  display: grid;
  gap: var(--space-m);
}

.welcome-grid .welcome-text {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.welcome-grid .sticker {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.welcome-grid a {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.welcome-grid figure {
  background-image: var(--welcome-image);
  background-size: cover;
  background-position: center 20%;
  border-radius: 30px;
  border: 2px solid #000;
  box-shadow: 0 8px 0 0 #000;
  padding-bottom: 66%;
  height: 100%;
}

.suggest {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-s);
  text-transform: uppercase;
  display: none;
}

.suggest h3 {
  flex: 0 0 auto;
  font-size: clamp(1.06rem, calc(0.02rem + 2.16vw), 2.19rem);
}

.suggest svg {
  max-height: clamp(1.06rem, calc(0.02rem + 2.16vw), 2.19rem);
}


/* CATEGORIES */

.home-categories>div {
  position: relative;
}

.home-categories img {
  height: clamp(2.25rem, calc(-0.16rem + 12.05vw), 5.63rem);
  margin: 0 clamp(0.31rem, calc(0.14rem + 0.86vw), 1.00rem);
}

.home-category-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: clamp(1.50rem, calc(-0.11rem + 8.04vw), 3.75rem);
  text-transform: uppercase;
  line-height: 1;
}

.home-category-line * {
  transition: 200ms all ease-out;
}

.home-category-line a:hover {
  color: var(--color-yellow);
}

.home-category-line:nth-child(odd) a:hover img {
   transform: rotate(-25deg) scale(1.3);
}

.home-category-line:nth-child(even) a:hover img {
   transform: rotate(25deg) scale(1.3);
}

.home-category-line:nth-of-type(even) {
  flex-direction: column-reverse;

}

.home-category-line a {
  display: flex;
  align-items: center;
      color: var(--color-light);
      text-shadow: 0 3px 0 var(--color-dark);
  -webkit-text-stroke: 1px var(--color-dark);
}

.home-categories p {
  text-align: center;
  margin-top: Var(--space-xl-2xl);
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.line-animation {
    position: absolute;
    left: auto;
    top: auto;
    right: 7%;
    bottom: -200px;
}

.line-animation {
  visibility: hidden;
}

.line-animation svg{
    width: 150px;
}

body.header-not-at-top .line-animation {
  visibility: visible;
}

body.header-not-at-top .squiggle {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: draw 1s cubic-bezier(.72,0,.55,.99) forwards;
}

body.header-not-at-top .point {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw 500ms linear forwards;
  animation-delay: 1s;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@media (min-width: 768px)
{

  .welcome-grid {
    display: grid;
    gap: 0 4rem;
    grid-template-columns: 1fr 1fr;
  }

  .welcome-grid .welcome-text {
    grid-column: 1 / 2;
      grid-row: 1 / 2;
  }

  .welcome-grid a {
      grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .welcome-grid .sticker {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .welcome-text h1 {
    font-size: clamp(4.19rem, calc(-0.77rem + 10.34vw), 9.56rem);
  }

  .welcome-text .font-outline {
    text-shadow: 0 clamp(0.25rem, calc(0.02rem + 0.48vw), 0.50rem) 0 var(--color-dark);
  }

  .home-categories img {
    height: clamp(3.19rem, calc(0.94rem + 4.69vw), 5.63rem);
    //margin: 0 clamp(0.31rem, calc(0.14rem + 0.86vw), 1.00rem);
  }

  .home-category-line {
    font-size: clamp(2.13rem, calc(0.63rem + 3.13vw), 3.75rem);
    display: flex;
    flex-direction: row;
  }

  .home-category-line:nth-of-type(even) {
    flex-direction: row;
  }

  .suggest {
    display: flex;
  }

  .home-categories p {
    //max-width: 60%;
  }

  .line-animation {
      right: 7%;
      //bottom: -29.5%;
  }

  .line-animation svg {
      width: 200px;
  }

}
