/*
RECIPE INTRO
*/

.recipe-intro {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--color-yellow);
}

.recipe-intro h1 {
  font-family: 'Gulfs Display SemiExpanded', sans-serif;
  font-size: clamp(3.00rem, calc(1.41rem + 7.97vw), 9.38rem);
  font-weight: 400;
  color: var(--color-light);
  text-shadow: 0 3px 0 var(--color-dark);
  -webkit-text-stroke: 1.5px var(--color-dark);
  line-height: 1;
}

.recipe-intro .tag-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-2xs) var(--space-xs);
  line-height: 0.8;
}

.tag {
  font-size: var(--step--1);
}

.tag:hover {
  color: var(--color-giantsorange);
}

/*
FEATURED PHOTO
*/

section.recipe-featured {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  padding-bottom: 0;
}

.recipe-featured::before {
    background: var(--color-yellow);
    content: "";
    display: block;
    position: absolute;
    inset: 0px 0px 50%;
    border-bottom: solid 2px var(--color-dark);
    z-index: -1;
}

.featured-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  border: 2px solid var(--color-dark);
  box-shadow: 0 8px 0 0 var(--color-dark);
}

.featured-img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
}

/* RECIPE FACTS */

.recipe-details>div>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--space-xs);
}


/*
RECIPE ABOUT
*/

section.recipe-about {
  padding-bottom: var(--space-xl);
}

.recipe-commentary p:first-of-type::first-letter {
    float: left;
    font-family: 'Gulfs Display SemiExpanded', sans-serif;
    padding: .15rem .5rem 0 .1875rem;
    font-size: 3.75rem;
    font-weight: 400;
    line-height: .84;
    text-transform: uppercase;
}


/*
INGREDIENTS
*/

section.recipe-ingredients {
  padding: var(--space-xl) 0;
  background-color: var(--color-shade);
}

.recipe-ingredients h2 {
   font-family: 'Gulfs Display SemiExpanded', sans-serif;
  font-size: clamp(1.75rem, calc(0.19rem + 7.78vw), 2.63rem);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.recipe-ingredients>*>* {
  --flow-space: var(--space-xl-2xl);
}

.recipe-component, .special-equipment {
  --flow-space: var(--space-l);
}

.recipe-component *, .special-equipment * {
  --flow-space: var(--space-s);
}

.quant, .unit {
  font-weight: 700;
}



/*
RECIPE INSTRUCTIONS
*/

section.recipe-instructions {
    padding-top: var(--space-xl-2xl);
  }

.instructions-list {
      --flow-space: var(--space-xl-2xl);
    }

/*
ol.instructions-list > li {
  padding-top: 84px;
  padding-bottom: 42px;
}
*/

ol.instructions-list > li {
  counter-increment: muffins;
  padding: 0px;
}

ol.instructions-list > li:before {
  content: counter(muffins);
}
ol.instructions-list {
  list-style: none;
  counter-reset: muffins;
}

ol.instructions-list > li:before {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--space-l-xl);
  height: var(--space-l-xl);
  border: 2px solid var(--color-dark);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--space-s);
  font-size: var(--step-1);
  font-family: var(--font-fancy);
  box-shadow: 0 6px 0 var(--color-dark);
}

.single-instruction {
    --flow-space: var(--space-s);
}

.step-title {
  text-align: center;
}

.step-needed {
  padding: var(--space-s) var(--space-s) 0 var(--space-s);
  margin: var(--space-s) 0 0 0;
  border-top: 1px solid #edecea;
}

.step-text {
    border-top: 1px solid #edecea;
}

.step-photos {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  gap: var(--space-2xs);
  --img-ratio: 3/2;
}

.step-photos > img {
    /* Fallback for `aspect-ratio` of defining
  a height */
  height: max(18vh, 12rem);
  object-fit: cover;
  width: 100%;
}

/* When supported, use `aspect-ratio` */
@supports (aspect-ratio: 1) {
  .step-photos > img {
    aspect-ratio: var(--img-ratio);
    height: auto;
  }
}

.step-tips {
  display: inline-flex;
  background: var(--color-shade);
  margin-top: var(--space-m);
  flex-wrap: wrap;
}

div:has(.tip-inner) {
  background: var(--color-dark);
}

.tip-activate {
  display: flex;
  align-items: center;
  color: var(--color-dark);
  padding: var(--space-xs);
  margin: 0;
}

.tip-arrow {
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
    transform: rotate(-90deg);
    stroke: var(--color-dark);
}

.tip-inner {
  display: none;
  padding: 0 1rem 1rem 1rem;
  flex-basis: 100%;
}

input[type="checkbox"]:checked ~ .tip-inner {
  display: block;
}

input[id^="toggle_"] {
  position: absolute;
  left: -999em;
}

.show-tip {
  cursor: pointer;
}

.get-some {
  --flow-space: var(--space-s);
}

/*
RECIPE FOOTER
*/

.recipe-footer {
  margin: var(--space-m) 0 0 0;
}

.recipe-footer>div {
    background-color: var(--color-shade);
    padding: 1.5rem 2rem 1rem 2rem ;
}

.recipe-footer  ul:not([role=list])>li {
    margin-bottom: var(--space-m);
}

.recipe-footer .step-text {
    border-top: 1px solid var(--color-shell);
}

.inspired-by p {
  --flow-space: var(--space-2xs);
  display: inline;
}
