:root {
  --ratio: 1.414;
  --s-5: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-4: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-3: calc(var(--s0) / var(--ratio) / var(--ratio) / var(--ratio));
  --s-2: calc(var(--s0) / var(--ratio) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 20.8px;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s0) * var(--ratio) * var(--ratio));
  --s3: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio));
  --s4: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --s5: calc(var(--s0) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
  --measure: 65ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.7 * var(--ratio));
  --border-thin: var(--s-5);
  --border-thick: var(--s-2);
  --font-plain: 'Inter',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-display: 'Rubik', sans-serif;
  --font-fancy: "Space Grotesk", apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  --grid-margin: 1.25rem;
  --grid-gap: 1rem;
  --flow-space: 1rem;
  --bw-lightest: #ffffff;
  --bw-light: #F5F5F5;
  --bw-middle: #CCCCCC;
  --bw-dark: #8F8F8F;
  --bw-darkest: #1C1C1C;
  --color-coral: #EF6461;
  --color-sun: #FFD12F;
  --color-sand: #F3EDCF;
  --color-shell: #FBF9EE;
  --color-sky: #9EE8F1;
  --color-lowtide: #26B7C5;
  --color-hightide: #068192;
  --color-deepsea: #1B4D7A;
}
