/* GLOBAL CSS */

.tag-filters {
  display: none;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--color-light);
  line-height: var(--ratio);
  font-family: var(--font-plain);
  color: var(--color-dark);
  font-size: var(--step-0);
}

main {
  padding-bottom: var(--space-3xl);
}

a {
  cursor: pointer;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:not(.special-a):hover {
  color: var(--color-yellow);
}

.site-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4 {
    line-height: var(--line-height-small);
    font-weight: 700;
    hyphens: auto;
}

h1 {
  font-size: clamp(var(--s2), 5vw , var(--s3));
}

h2 {
  font-size: var(--s1);
}

h3 {
  font-size: var(--s1);
}

h4 {
  font-size: var(--s0);
}

section:not(.filter-page) {
  padding: var(--space-m) 0;
}

.filter-page h1 {
  padding: var(--space-m) 0;
}

.tag {
  //padding: .0625em .25em ;
  //font-family: var(--font-mono);
}

/* HEADER / FOOTER CSS */

header {
  background: var(--color-light);
  border-bottom: 2px solid var(--color-dark);
  //box-shadow: 0 8px 0 0 var(--color-sand);
}

.inner-header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-s) 0px;
  flex-wrap: wrap;
}

.logo {
  font-size: var(--s0);
  font-weight: 600;
}

nav {
    display: flex;
    align-items: center;
    align-items: center;
    flex-gap: 1rem;
    -webkit-flex-gap: 1rem;
}

nav a {
  color: var(--color-dark);
  text-transform: capitalize;
  //font-weight: 600;
    font-size: var(--smedium);
}

nav > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: var(--space-s);
    margin: 0;
    flex-wrap: wrap;
}

header a, footer a {
  text-decoration: none;
}

header a:not(.nvr-deco):hover, footer a:not(.nvr-deco):hover {
    //text-decoration: underline;
}

.inner-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-s) 0px;
  flex-wrap: wrap;
  text-align: center;
  font-size: var(--smedium);
}

footer {
  background: var(--color-yellow);
  border-top: 2px solid var(--color-dark);
  --flow-space: var(--space-2xs);
}


footer {
  flex-shrink: 0;
}

footer .slide:before  {
  background: var(--color-safetyorange) !important;
}
