/* GLOBAL BOXES */

html, body {
  height: 100%;
}

body {
  background-color: var(--color-light);
  line-height: var(--ratio);
  font-family: var(--font-plain);
  color: var(--color-dark);
  font-size: var(--step-0);
}

.site-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  padding-bottom: var(--space-3xl);
  flex: 1 0 auto;
}

section {
  padding: var(--space-m) 0;
}

section.filter-page {
  padding: var(--space-xl) 0 0 0;
}

/* GLOBAL TYPOGRAPHY */

a {
  cursor: pointer;
  color: inherit;
  transition-duration: 100ms;
}

a:visited {
  color: inherit;
}

a:not(.special-a):hover {
  color: var(--color-yellow);
}

h1,
h2,
h3,
h4 {
    line-height: var(--line-height-small);
    font-weight: 700;
    hyphens: auto;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

/* GLOBAL ELEMENTS */

ul, ol {
  padding-inline-start: 0px;
  margin: 0;
}

ul[role="list"], ol[role="list"] {
    padding: 0px;
}

ul:not([role="list"]) {
  list-style: none;
}

ul:not([role="list"])>li {
    position: relative;
    padding-left: var(--space-l);
    margin-top: 0;
    margin-bottom: var(--space-xs);
    line-height: var(--ratio);
}

ul:not([role="list"])>li:before {
  top: 0.813rem;
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.063rem;
  background: var(--color-giantsorange);
  margin-left: -1.875rem;
  position: absolute;
}

ol {
    position: relative;
    padding-left: var(--space-l);
    margin-top: 0;
    line-height: var(--ratio);
}

ol>li {
  padding: 0 0 10px var(--space-xs);
  margin: 0 0 10px;
  position: relative;
}

.skip-link:not(:focus), .visually-hidden, :not(:hover)>.heading-permalink {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.skip-link {
    position: absolute;
    top: clamp(1.09rem,1rem + .47vw,1.33rem);
    left: clamp(1.09rem,1rem + .47vw,1.33rem);
}

/* HEADER / FOOTER CSS */

header {
  background: var(--color-light);
  border-bottom: 2px solid var(--color-dark);
  //box-shadow: 0 8px 0 0 var(--color-sand);
}

.inner-header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-s) 0px;
  flex-wrap: wrap;
  gap: var(--space-3xs);
}

.logo {
  font-size: var(--step-0);
  font-weight: 600;
}

nav {
    display: flex;
    align-items: center;
    align-items: center;
    flex-gap: 1rem;
    -webkit-flex-gap: 1rem;
}

nav a {
  color: var(--color-dark);
  text-transform: capitalize;
  font-size: var(--step--1);
}

nav > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: var(--space-s);
    margin: 0;
    flex-wrap: wrap;
}

header a, footer a {
  text-decoration: none;
}

footer {
  background: var(--color-yellow);
  border-top: 2px solid var(--color-dark);
  --flow-space: var(--space-2xs);
}

footer {
  flex-shrink: 0;
}

footer .slide:before  {
  background: var(--color-safetyorange) !important;
}

.inner-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-s) 0px;
  flex-wrap: wrap;
  text-align: center;
  font-size: var(--step--1);
}
