ul, ol {
  padding-inline-start: 0px;
  margin: 0;
}

ul[role="list"], ol[role="list"] {
    padding: 0px;
}

ul:not([role="list"]) {
  list-style: none;
}

ul:not([role="list"])>li {
    position: relative;
    padding-left: 1.4rem;
    margin-top: 0;
    margin-bottom: var(--space-xs);
    line-height: var(--ratio);
}

ol {
    position: relative;
    padding-left: 1.4rem;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: var(--ratio);
}

ol>li {
  padding: 0 0 10px 30px;
  margin: 0 0 10px;
  position: relative;
}

ul:not([role="list"])>li:before {
  top: 0.813rem;
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.063rem;
  background: var(--color-giantsorange);
  margin-left: -1.875rem;
  position: absolute;
}

a.slide, .slide a {
  position: relative;
      z-index: 1;
}

a.slide::before, .slide a::before  {
  background: var(--color-yellow);
  width: calc(100% + 0.5em);
  height: 50%;
  bottom: 2px;
  left: -0.25em;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

a.slide:hover::before, .slide a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.highlight {
  position: relative;
  display: inline;
  z-index: 1;
}

.highlight:before  {
  background: var(--color-yellow);
  width: calc(100% + 0.5em);
  height: 40%;
  bottom: 0px;
  left: -0.25em;
  content: "";
  position: absolute;
  z-index: -1;
}

.smaller-text {
  font-size: calc(var(--s0) * 0.8);
}

.font-mono {
  font-family: var(--font-mono);
}

.font-fancy {
    font-family: var(--font-fancy);
    font-weight: 400;
}

.font-outline {
  text-shadow: 0 clamp(0.25rem, calc(0.07rem + 0.89vw), 0.50rem) 0 #201b19;
  -webkit-text-stroke: 2px #201B19;
  color: var(--color-light);
}

.font-plain {
    font-family: var(--font-plain);
}

.upper {
  text-transform: uppercase;
}

.strong {
  font-weight: 800;
}

.safetyorange {
  color: var(--color-safetyorange);
}

.giantsorange {
  color: var(--color-giantsorange);
}

.deepsea {
  color: var(--color-deepsea);
}

.sand-bg {
    background-color: var(--color-sand);
}

.wide-wrapper {
  max-width: calc(1600px + calc(2 * var(--space-s)));
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.medium-wrapper {
  max-width: calc(960px + calc(2 * var(--space-s)));
  margin-left: auto;
  margin-right: auto;
    padding: 0 1.5rem;
}

.narrow-wrapper {
  max-width: calc(728px + calc(2 * var(--space-s)));
  margin-left: auto;
  margin-right: auto;
    padding: 0 1.5rem;
}

.wrapper {
  //max-width: calc(75rem + var(--s0));
  max-width: calc(100rem + var(--s0) + var(--s0));
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--s0);
  padding-right: var(--s0);
}

//article section:not(.featured-img){
  //max-width: calc(48rem + var(--s0));
  max-width: 741.6px;
  margin-left: auto;
  margin-right: auto;
}

article>footer {
  margin-top: 0px;
}

.flow > * + * {
    margin-top: var(--flow-space);
}

/*
.flow > p + p {
    margin-top: var(--s0);
}

*/

section {
  //margin-top: var(--s2);
  //margin-bottom: var(--s3);
}


.top-s0 {
  margin-top: var(--s0);
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.skip-link:not(:focus), .visually-hidden, :not(:hover)>.heading-permalink {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.skip-link {
    position: absolute;
    top: clamp(1.09rem,1rem + .47vw,1.33rem);
    left: clamp(1.09rem,1rem + .47vw,1.33rem);
}
.button {
    display: inline-block;
    padding: .8rem 2.5rem;
    border-radius: clamp(1.37rem,1.21rem + .8vw,1.78rem);
    border: 2px solid #f586ae;
    background: #1c2334;
    color: #f3eee4;
    cursor: pointer;
    font: inherit;
    text-transform: uppercase;
    font-weight: 900;
    font-size: clamp(1.09rem,1rem + .47vw,1.33rem);
    line-height: 1;
    letter-spacing: .05ch;
    text-decoration: none;
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 15%);
    font-family: atkinson_hyperlegible,Arial,sans-serif;
}
