<div class="sticker">
      <img class="logo" src="static/img/narwhal-plush.png">
      <svg viewBox="0 0 200 200">
        <path id="curve" d="
        M 100, 100
        m -75, 0
        a 75,75 0 1,1 150,0
        a 75,75 0 1,1 -150,0
        " fill="none" />
        <text>
          <textPath xlink:href="#curve">
            Narwhal Socks&nbsp;&nbsp;&nbsp;🍲&nbsp;&nbsp;&nbsp;Cookbook&nbsp;&nbsp;&nbsp;🍹&nbsp;&nbsp;&nbsp;Get Some!&nbsp;&nbsp;&nbsp;🍰&nbsp;&nbsp;&nbsp;
          </textPath>
        </text>
      </svg>
    </div>
