<footer role="banner">
  <div class="wrapper flow">
      <a href="/" class="nvr-deco logo" aria-label="{{ site.name }} - home">
        {% include "static/img/brand.svg" %}
      </a>
      <p>
        Nothing about this website is being monetized. It was created purely for personal use. Come to think of it, how did you even get here? We must really like you. You are special 🏅
      </p>
      <nav aria-label="Primary navigaton">
          {% include "components/nav.njk" %}
      </nav>
    </div>
</footer>
