<footer role="banner">
  <div class="wide-wrapper">
    <div class="inner-footer flow">
      <a href="/" class="slide logo special-a" aria-label="{{ site.name }} - home">
        {% include "static/img/brand.svg" %}
      </a>
      <p>
        Nothing about this website is being monetized. It was created purely for personal use. Come to think of it, how did you even get here? We must really like you. You are special 🏅
      </p>
      <nav aria-label="Primary navigaton">
          {% include "components/nav.njk" %}
      </nav>
    </div>
    </div>
</footer>
