<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul role="list">
  {%- for entry in navPages %}
    <li>
      <a  class="slide special-a" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  <li><div class="search2"></div></li>
  </ul>
</nav>
