<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul role="list">
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  <li><a class="nvr-deco" href="https://letmegooglethat.com/?q=Help!+I%27m+too+lazy+to+browse+through+recipes...">🔍</a></li>
  </ul>
</nav>
