<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
<div class="site-wrap">
  <header role="banner">
    <div class="wide-wrapper">
		  <div class="inner-header">
        <a class="slide logo special-a" href="/" aria-label="{{ site.name }} - home">{% include "static/img/brand.svg" %}</a>
			  <nav aria-label="Primary navigaton">
          {% include "components/nav.njk" %}
        </nav>
		  </div>
		</div>
  </header>


		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}
</div>
	</body>

</html>
