---
layout: layouts/base.njk
section: category
---
  {% set cls = ( title | slug ) %}
<div class="[ wide-wrapper ] [ flow ]">
  <section class="filter-page">
    <h1>Recipes filed under <span class="safetyorange">{{ title }}</span>:</h1>
    {{ layoutContent | safe }}
  </section>
  <section class="recipe-browse">
    {% set postslist = collections.post %}
    {% include "components/filtered-cards.njk" %}
  </section>
</div>
