---
layout: layouts/base.njk
section: category
---
  {% set cls = ( title | slug ) %}
<div class="[ wrapper ] [ flow ]">
  <section class="cookbook-intro">
    <h1>Recipes filed under {{ title }}</h1>
    {{ layoutContent | safe }}
  </section>
  <section class="tag-filters">
  </section>
  <section class="recipe-browse">
    {% set postslist = collections.post %}
    {% include "components/filtered-cards.njk" %}
  </section>
</div>
