---
layout: layouts/base.njk
section: home
---

  <section class="home-welcome">
    <div class="[ wide-wrapper ]">
      <div class="welcome-grid">
        <div class="welcome-text flow">
          <h1 class="font-fancy font-outline">Let's Make A <span class="giantsorange">Recipe!</span></h1>
          <div class="suggest">
            <h3>Maybe this one?</h3>
            {% include "static/img/arrows-marquee.svg" %}
          </div>
        </div>
        <a href="/challah-french-toast">
        <figure style="--welcome-image: url('/static/img/posts/challah-french-toast.webp');">
        </figure>
        </a>
        {% include "components/brand-sticker.njk" %}
      </div>
    </div>
  </section>

<section class="home-categories">
<div class="[ wide-wrapper ]">
  <div class="home-category-line font-fancy">
    <a><span>Main Dishes</span><img src="/static/img/main-dish.webp"></a>
    <span>You fancy, huh</span>
  </div>
  <div class="home-category-line font-fancy">
    <span>party animal</span>
    <a><img src="/static/img/snack.webp"><span>snack food</span></a>
  </div>
  <div class="home-category-line font-fancy">
    <a><span>Desserts</span><img src="/static/img/dessert.webp"></a>
    <span>Sweet & sexy</span>
    </div>
  <div class="home-category-line font-fancy">
    <span>Pinky up sippin'</span>
    <a><img src="/static/img/cocktail.webp"><span>Drinks</span></a>
    </div>
    <p class="medium-wrapper">Welcome to the <strong class="highlight">Narwhal Socks Cookbook</strong>, where all your culinary fantasies become reality! I hope you're hungry because there are some very tasty recipes ahead!</p>
    <div class="line-animation" id="get-squiggle">
{% include "static/img/squiggle-arrow.svg" %}
</div>
  </div>
</section>

  <section class="recipe-browse">
<div class="[ wide-wrapper ]">
    {% set postslist = collections.post %}
    {% include "components/recipe-cards.njk" %}
    <div>
  </section>
