---
layout: layouts/base.njk
section: post
---

<article>

  <section class="recipe-intro">
    <div class="wide-wrapper flow">
      <h1 class="recipe-name">{{ title }}</h1>
      <h3 class="tagline">{{ tagline | markdownify | safe }}</h3>
      {% if tags %}
        <ul class="tag-list" role="list">
          {% for tag in tags %}
            {%- if tag != "post" -%}
              <li>
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a class="tag special-a" href="{{ tagUrl | url }}" rel="tag">#{{ tag }}</a>
              </li>
            {%- endif -%}
          {% endfor %}
        </ul>
      {% endif %}
    </section>

    <section class="recipe-featured">
    <div class="medium-wrapper featured-img">
        <img src="{{ featured_image}}">
      </div>
    </section>

  <section class="recipe-details">
    <div class="medium-wrapper">
      <div class="recipe-deets">
        <h4>🔨 {{ active_time }}</h4>
        <h4 class="safetyorange">/</h4>
        <h4>⏰ {{ total_time }}</h4>
        <h4 class="safetyorange">/</h4>
        <h4>🥘 {{ yield }}</h4>
      </div>
    </div>
  </section>

        {% if story.length %}
  <section class="recipe-about">
    <div class="narrow-wrapper">

        <div class="recipe-commentary flow">
          {{ story  | markdownify | safe  }}

          <div class="flow inspired-by">
            <p class="strong">INSPIRATION PROVIDED BY:</p>
            &nbsp;{{ inspired_by | markdownify | safe }}
      </div>
         </div>



    </div>
  </section>
         {% endif %}

<section class="recipe-ingredients flow">
  <div class="narrow-wrapper flow">
    <h2>Ingredients</h2>
      {% for groups in ingredients_list %}
      <div class="recipe-component flow">
      <h4 class="highlight"> {% if groups.group_name != "Ingredient List" %} {{ groups.group_name }} {% endif %}</h4>
      <ul class="no-padding">
        {% for items in groups.ingredient %}
          <li>
            <span class="quant">{{ items.amount }}</span> <span class="unit">{{ items.unit }}</span> <span class="desc">{{ items.ingredient }}</span>
          </li>
        {% endfor %}
      </ul>
      </div>
      {% endfor %}

{% if special_equipment.length %}
<div class="special-equipment flow">
<h4 class="highlight">Special equipment you'll need 🔪🍳:</strong></h4>
<ul>
  {% for items in special_equipment %}
  <li>
    {{ items.equipment }}
  </li>
  {% endfor %}
</ul>
</div>
{% endif %}

</section>

<section class="recipe-instructions">
  <div class="narrow-wrapper flow">
  <ol role="list" class="instructions-list flow">
  {% for steps in instructions %}
    <li>
      <div class="single-instruction flow">
      <h3 class="step-title"> {{ steps.title }}</h3>

      {% if steps.ingredients_used.length %}
      <ul class="step-needed">
        {% for items in steps.ingredients_used %}
          <li>
            <span class="quant">{{ items.amount }}</span> <span class="unit">{{ items.unit }}</span> <span class="desc">{{ items.ingredient }}</span>
          </li>
        {% endfor %}
          </ul>
        {% endif %}

      <p class="step-text">{{ steps.description | markdownify | safe }}</p>

      {% if steps.instruction_photo %}
      <div class="step-photos">
          <img src="{{ steps.instruction_photo }}">
        </div>
      {% endif %}


{% if steps.instruction_tip.length  %}
 <div class="step-tips">
 <div>
        <label for="toggle_{{ loop.index }}" class="show-tip"><div class="tip-activate">
          <p class="smaller-text">Just The Tip</p>
          <svg class="tip-arrow" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <circle cx="8" cy="8" r="8" fill="inherit" stroke="none"></circle>
  <path d="M10.666 11.4075L4.74009 11.4075L4.74009 5.48157" ></path>
  <path d="M4.73958 11.4076L11.4062 4.74097" ></path>
              </svg>
            </div>
          </label>
          </div>
          <input type="checkbox" id="toggle_{{ loop.index }}">
          <div class="tip-inner flow">
   {% for items in steps.instruction_tip %}</h4>
       <h4 class="step-title">{{ items.title }}</h4>
       <p>{{ items.description}}</p>
       {% if items.tip_photo.length %}
       <div class="step-photos">
         <img src="{{ items.tip_photo }}">
         </div>
         {% endif %}

   {% endfor %}


{% endif %}

    </li>
  {% endfor %}
</ol>
</div>
</section>

</article>
